# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Operating System
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary files
*.log